body {
    background-color: beige;
}

input[type=text] {
    padding: .4em;
    margin-bottom: .5em;
}

label {
    width: 50%;
    display: inline-block;
    text-align: right;
    margin-bottom: 1em;
}

input[type=checkbox], input[type=button]{
    margin-left: 50%;
}

input[type=checkbox]{
    margin: .5em;
}

h1, p {
    text-align: center;
    margin: auto;
}

h1 {
    text-decoration: underline;
}

p {
    margin-bottom: 1em;
}

@media only screen and (max-width: 900px) { 
    label {
        width: 40%;
    }

    p {
        margin-bottom: 1.5em;
    }

    input[type=checkbox], input[type=button]{
        margin-left: 40%;
    }

    input[type=checkbox]{
        margin: .5em;
    }
}